@import "bourbon/bourbon";

$firCol: #56677F;
$secCol: #5FA3FF;
$trdCol: #ABCFFF;
$frtCol: #394A5E;
$fthCol: #89A5CC;


@include keyframes(grlow-text){
	from{
		text-shadow: 0 0 0px black;
	}
	to{
		@include transform(scale(1.05));
		text-shadow: 0 0 10px black;
	}
}


body {
	background-color: $firCol;
	color: $fthCol;
	font-family: "helvetica";
}

a {
	display: inline-block;
	text-decoration: none;
	color: $fthCol;
	background-color: $trdCol;
	border-radius: 5px;
	@include transition(transform .5s ease-out);

	&:hover{
		@include transform(scale(1.1));
		color:$secCol;
	}
}


#title{
	padding: 1%;
	text-align: center;
	border-radius: 5px;
	background-color: $frtCol;

	h1{
		font-size: 75px;
		display: block;
		margin-left:auto;
		margin-right:auto;
		width: 50%;
		@include animation(grlow-text 3s ease infinite alternate);
	}
}

