@import "bourbon/bourbon";

$bodyBG: #EAD3A8;
$primary: #6E6568;
$secondary: #484043;
$tertiary: #D23641;
$textCol: #FFFFFF;

body {
  background-color: $bodyBG;
  color: $textCol;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  margin: 45px 3% 0px 3%;

  overflow-x: hidden;

  & > *{
    margin: 10px auto 10px auto;
    max-width: 1280px;
    position: relative;
  }
}

a {
  text-decoration: none;
  color: $textCol;
  background-color: $tertiary;
  @include transition(background-color .25s ease-out);

  &:hover {
    background-color: $secondary;
  }
}

#navy {
  background-color: $secondary;
  margin: 0px;
  padding: 0px;

  width: 100%;
  min-width: 700px;
  max-width: none;

  position: fixed;

  top: 0px;
  left: 0px;

  box-shadow: 0px 10px 0px 0px fade-out(#000000, .75);

  a {
    background-color: $secondary;

    display: inline-block;
    padding: 10px;
    margin: 0px 5px 0px 5px;

    font-weight: bold;
    font-size: 16px;

    @include transition(background-color .25s ease-out, box-shadow .5s ease-out);

    &:hover {
      background-color: $tertiary;
      box-shadow: 0px -5px 0px fade-out(#FFFFFF, .75) inset;
    }
  }

  #logo {
    padding: 5px 10px 5px 4%;
    margin: 0px 5px 0px 0px;
    display: inline-block;
    background-color: $tertiary;
    font-family: "Brush Script MT", cursive;
    font-size: 30px;

    @include transition(text-shadow .5s ease-out, box-shadow .75s ease-out);

    &:hover {
      text-shadow: 0px 2px 5px $secondary;
    }
  }

}

#title {
  padding: 1%;
  text-align: center;
  background-color: $primary;

  box-shadow: 0px 10px 0px -5px $secondary;

  h1 {
    text-shadow: 0px 5px 0px fade-out($secondary,.5);
    font-size: 75px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
}

.page{
  @extend #title;

  position: absolute;

  left: 150%;

  margin: {
    top: 10px;
    bottom: 10px;
  };

  width: 98%;

  h2{
    @extend h1;
    font-size: 50px;
  }

}
